{% extends 'accounts/base.html' %}
{% load static %}
{% block page_title %}Password Reset Complete{% endblock %}
{% block body %}
<body class="login-page" style="min-height: 348.8px;">
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'index' %}"><b>Expense</b>Tracker</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p>Your password has been reset. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now</p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}