{% extends 'accounts/base.html' %}
{% load static %}
{% block page_title %}Password Reset Done{% endblock %}
{% block body %}
<body class="login-page" style="min-height: 348.8px;">
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'index' %}"><b>Expense</b>Tracker</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <h1>Check your inbox.</h1>
      <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}