{% extends 'accounts/base.html' %}
{% load static %}
{% block page_title %}Password Reset Confrimation{% endblock %}
{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'index' %}"><b>Expense </b>Tracker</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Please enter your new password twice so we can verify you typed it in correctly.</p>

      <form method="post">
        {% csrf_token %}
        <input style="display: none;" autocomplete="username" value="{{ form.user.username }}">
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="New password" id="new_password1" name="new_password1">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Confirm password" id="new_password2" name="new_password2">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if form.new_password2.errors %}
          {% for error in form.new_password2.errors %}
          <div class="row">
            <div class="col-12 text-danger">
              {{ error }}
            </div>
          </div>
          {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <div class="row">
            <div class="col-12 text-danger">
              {{ error }}
            </div>
          </div>
          {% endfor %}
        {% endif %}
          <div class="row">
            <button type="submit" class="btn btn-primary btn-block">Change my password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}